<body class="root">

<h1> Welcome to Yolo Middle School</h1>
<h3> Home of the Fighting Delinquents!</h3>


  <div class="school_pic">
  <%= image_tag asset_url("YOLO-school.jpg"), id: "top_pic" %>
</div>

<div class="container" id="home" >

  <div class="col-md-4  col-sm-4">

    <p>
      <div class="links">
        <%= link_to "Teacher Login", sessions_new_path %>
      </div>
    </p>
  </div>
  <div class="col-md-4  col-sm-4">
    <p>
      <div class="links">
        <%= link_to "Student Login", sessions_new_path %>
      </div>
    </p>
  </div>

  <div class="col-md-4  col-sm-4">
    <p>
      <div class="links">
        <%= link_to "Parent Login", sessions_new_path %>
      </div>
    </p>

  </div>
</div>


</body>
